<div class="container w-full h-screen">
    <div class="grid grid-cols-2 gap-2 mb-32">
        <div class="h-screen bg-center bg-no-repeat bg-cover" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
            <div class="flex items-center justify-center h-full">
                <img src="assets/images/logo.png" class="w-36" alt="logo">
              </div>
        </div>
        <div class="flex items-center justify-center w-full ">
            <div class="">

                <span class="text-4xl">Connexion</span>
                <app-form [formGroup]="formGroup">
                    <app-input type="email" [control]="formGroup.controls.email" placeholder="entrez votre email" nameIconLeft="fa-solid  fa-envelope" inputSize="w-[400px]"></app-input>
                    <app-input type="password" [control]="formGroup.controls.password" placeholder="entrez votre mot de passe" nameIconLeft="fas  fa-lock" nameIconRight="fas fa-eye-slash" inputSize="w-[399px]"></app-input>
                    <app-button type="submit"  size="medium" variant="accent" [isLoading]="loading" [disabled]="false" (action)="handleButtonClick()" [fullWidth]="true">Connexion</app-button>
                    <nav class="mt-4 ms-3 text-caption4 text-tertiary"><a href="#">Mot de passe oublié</a></nav>
                </app-form>
            </div>
        </div>
    </div>
</div>