<div class="w-full mt-10 form-control">
  <div [ngClass]=getBorderClass() class="w-full bg-white border-b-2">
    <div class="w-full">
      @if (nameIconLeft) {
        <i [ngClass]="[nameIconLeft]" class="ml-3"></i>
      }
      <input
        [type]="type"
        [placeholder]="placeholder"
        [formControl]="control"
        [id]="inputId"
        [ngClass]="[inputSize]"
      />
      @if (nameIconRight) {
        <button (click)="togglePasswordVisibility()"
                class="cursor-pointer color-black mr-3"
                (keydown.enter)="togglePasswordVisibility()"
                tabIndex="0"
                aria-label="Toggle password visibility">
          <i [ngClass]="isPasswordVisible?'fas fa-eye' :[nameIconRight] "></i>
        </button>
      }
    </div>
  </div>
  @if (control.invalid && control.dirty) {
    @for (err of control.errors | keyvalue; track err.key) {
      <div class="ml-3 mt-2 text-caption4 text-alert-danger">
        {{ errorMessages[err.key] }}
      </div>
    }
  }
</div>
