
  <div class="w-full mt-10 form-control" >
    <div [ngClass]="[control.invalid && control.dirty ? 'border-b-alert-danger': 'border-b-secondary-200', border?'':'border-b' ]"  class="w-full ">
      <div class="w-full">
        
        <i *ngIf="nameIconLeft" [ngClass]="[nameIconLeft]" class="" ></i>
        
        <input 
          [class.invalid]="control.invalid && control.dirty && control.touched "
          [type]="type"
          [placeholder]="placeholder" 
          [formControl]="control" 
          [id]="inputId"
          [ngClass]="[inputSize, border? '': 'border-none  ']"
          />
          
          <i *ngIf="nameIconRight" 
          [ngClass]="isPasswordVisible?'fas fa-eye' :[nameIconRight] " 
          (click)="togglePasswordVisibility()" 
          class="cursor-pointer color-black" 
          (keydown.enter)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
           tabindex="0"></i>
      </div>
    </div>
      <ng-container *ngIf="control.invalid && control.dirty ">
        <div *ngFor="let err of control.errors | keyvalue" class="mt-2 text-caption4 text-alert-danger">
           {{ errorMessages[err.key] }}
        </div>
      </ng-container>
  </div>
  